[2021-04-11 18:56] pdp7 opened #1 "Known issue: L2 cache flushing due to StarFive 7100 architecture"
_NOTE: I am [reposting my forum post](https://forum.beagleboard.org/t/l2-cache-flushing-due-to-starfive-7100-architecture/29197) here for greater visibility._

The BeagleV beta boards have the StarFive 7100 SoC which was from a limited multi-project wafer run. We only have enough chips to produce 300 BeagleV beta boards. StarFive should be releasing a public datasheet next week for the 7100. The 7

[2021-04-11 19:04] pdp7 commented on #1
Please see this issue for discussion of L2 cache flushing specific to the u-boot code:
* https://github.com/starfive-tech/beagle_uboot-opensbi/issues/1

[2021-04-19 21:09] pdp7 commented on #1
refer to https://github.com/starfive-tech/sft-riscv-linux-5.10/issues/2

[2021-04-26 14:20] xypron commented on #1
Would the following observation match the problem you reported?

[code]

leading to

[code]

[2021-04-26 15:26] xypron commented on #1
The problem seems to stop us from using an USB connected drive:

[code]

[2021-04-26 17:23] pdp7 commented on #1
@xypron I believe this is related to https://github.com/starfive-tech/beaglev_fedora/issues/3

@tekkamanninja @MichaelZhuxx would you be able to comment as to your current understanding of this issue?

[2021-04-27 07:41] marckleinebudde commented on #1
Hey @xypron,

I just found there is another v5.10 kernel repo at starfive-tech: https://github.com/starfive-tech/sft-riscv-linux-5.10, it has some more commits and at least one that might help with your issue, at least according to the patch description:

https://github.com/starfive-tech/sft-riscv-linux-5.10/commit/e6aa7686867ba0dbda9d0d2bea1ee5df50db3809

[2021-04-28 06:30] MichaelZhuxx commented on #1
yes,that's a know issue about L2 cache

[2021-04-28 07:12] pdp7 commented on #1
FYI - note on JH7100 Cache Coherence has been published
https://github.com/starfive-tech/beaglev_doc/blob/main/JH7100%20Cache%20Coherence%20V1.0.pdf

[2021-04-29 10:12] lbmeng opened #3 "Make starfive / Fedora the default branch"
The main branch is empty so please make **starfive** or **Fedora** the default branch.

[2021-04-29 16:02] MichaelZhuxx commented on #3
thanks for your reminding @lbmeng

[2021-04-29 16:04] #3 closed, assigned to nobody

[2021-05-02 07:57] HabonRoof opened #4 "scripts/extract-cert.c:21:10: fatal error: openssl/bio.h: No such file or directory"
Hi, I follow the step of [seed official tutorial](https://wiki.seeedstudio.com/BeagleV-Make-File-System-Compile-uboot-Kernal/).
When I trying to compile the kernel, there is some error message shows up.
After typing `make CROSS_COMPILE=riscv64-linux-gnu- ARCH=riscv -j8`
there are some error:

Seems like I missed some files so the make process is terminated.
Is there anything I missed?
OS: (by unam

[2021-05-02 08:04] HabonRoof commented on #4
OK I find the solution.
I missed the package named: libssl-dev
After installing it the error is resolve.

[2021-05-02 08:04] #4 closed, assigned to nobody

[2021-05-04 22:35] pdp7 opened #8 "support TPS65086 restart"
@Esmil has gotten TPS65086 restart working in their Linux 5.12 starlight branch working by configuring CONFIG_MFD_TPS65086 and CONFIG_POWER_RESET_TPS65086 along with:
* [riscv: dts: Add JH7100 and BeagleV Starlight support](https://github.com/esmil/linux/commit/792f73e655d52fd4db8041c94e59b6d11f8dab34)
* [power: reset: Add TPS65086 restart driver](https://github.com/esmil/linux/commit/4c4c1f23156d

[2021-05-04 22:47] pdp7 commented on #8
@esmil I would like to get reset working in the Fedora (v5.10) branch in this repo that Wei Fu (@tekkamanninja) created. Do you think it would make sense to cherry pick those commits from your v5.12 starlight branch?

[2021-05-04 22:53] esmil commented on #8
Sure. That should work fine. Just remember that you'll need to generate and use the `arch/riscv/boot/dtb/starfive/jh7100-starlight.dtb`. Eg. add `fdt /path/to/jh7100-starlight.dtb` to the entry in  `/boot/extlinux/extlinux.conf`.

[2021-05-05 08:12] pdp7 opened #9 "branch reorganization and cleanup"
@tekkamanninja please reorganize this repository so that:
- [x] ` starfive-tech/linux/master` from torvalds/linux.git/master
  * this is currently 5.13-rc1
- [x] replace `starfive-tech/linux/Fedora` with `starfive-tech/linux/fedora-vic-7100_5.10.6` and make it default
  * currently this is 5.10
- [x] create `starfive-tech/linux/esmil-starlight` from @esmil branch https://github.com/esmil/linux/tre

[2021-05-05 08:23] pdp7 opened #10 "add 5.12 branch"
Add [Linux 5.12 branch](https://github.com/esmil/linux/tree/starlight) created by @Esmil to this repo

[2021-05-05 21:52] macpijan commented on #8
Commits picked on Fedora branch if anyone is interested: https://github.com/3mdeb/linux/commits/linux-starfive/Fedora%2Bbeaglev

[2021-05-07 18:01] pdp7 commented on #9
@tekkamanninja for reorg of repos:
* starfive-tech/linux/master -> kernel.org/linux.git/master
* starfive-tech/linux/starfive-devel [5.12] -> kernel.org/linux.git/master [5.12] + starfive patches?
* starfive-tech/linux/Fedora [5.10] -> starfive-tech/linux/fedora-rpm-devel  [5.10]
* 5.12 branch by @esmil https://github.com/esmil/linux/tree/starlight -> starfive-tech/linux/esmil-starlight?

[2021-05-07 18:30] pdp7 commented on #10
closed, use  #9

[2021-05-07 18:30] #10 closed, assigned to nobody

[2021-05-07 18:33] pdp7 commented on #8
@tekkamanninja please take a look at this about adding restart driver to fedora

@macpijan are you part of 3mdeb?  this should be very helpful for Wei Fu @tekkamanninja

[2021-05-11 16:31] pdp7 commented on #9
@tekkamanninja  please pull in 5.13-rc3 from @geertu into branch in starfive-tech linux
https://github.com/geertu/linux/tree/starlight-v5.13-rc1

here is the slack thread for reference:
https://beagleboard.slack.com/archives/C01QV90F5KM/p1620746063146400

[2021-05-12 03:04] kraj commented on #8
I have pushed the patches to meta-riscv and I can confirm that `reboot` cmd is working fine now

https://github.com/riscv/meta-riscv/commit/a6801638045868f96f99e31fbc4c051a637cc1a0
https://github.com/riscv/meta-riscv/commit/4d48df9c05f9592e15a120995169299c4734d418

[2021-05-12 03:10] kraj opened #14 "ethernet does not work as it keeps flipping"
I am using `meta-riscv/yocto` to build a `core-image-base` where I also ensuring that we set `CONFIG_MICREL_PHY=y` but this also does not help in bringing up address on the phy, I can see the interface
but it never gets IP, udhcpc keeps trying. I also disabled udhcpc running on boot to avoid any races. And launch it manually after logging in. But it results in same results

[code]

I am using `sta

[2021-05-12 03:14] kraj opened #15 "SD card boot gets stuck often resulting in board not booting."
I am using `starfive_vic7100_evb_sd_net_defconfig` for kernel and it results in kernel hangs during boot at times, almost everytime the system is rebooted. Following message is seen when the kernel gets stuck

[code]

I am now building with https://github.com/starfive-tech/freelight-u-sdk/blob/starfive/conf/sdk_210209_defconfig and that seems to result in better behavior where it does not get stuc

[2021-05-12 03:22] pdp7 commented on #15
@kraj thank you for opening this issue, are you using the [Fedora branch in this repo](https://github.com/starfive-tech/linux/tree/Fedora) that Wei Fu (@tekkamanninja) created?  Wei Fu told me he is staying on 5.10 as @rwmjones is using that for Fedora/RISC-V however the [5.12 branch](https://github.com/esmil/linux/tree/starlight-devel#readme) from @esmil does seem to be working well for some of t

[2021-05-12 03:23] pdp7 commented on #14
@kraj thank you for opening this issue, are you using the [Fedora branch in this repo](https://github.com/starfive-tech/linux/tree/Fedora) that Wei Fu (@tekkamanninja) created?

Wei Fu told me he is staying on 5.10 as @rwmjones is using that for Fedora/RISC-V however the [5.12 branch](https://github.com/esmil/linux/tree/starlight-devel#readme) from @esmil does seem to be working well for some of t

[2021-05-12 03:31] kraj commented on #15
yes I am on latest on fedora branch of 5.10 kernel

[2021-05-12 03:54] davidlt commented on #14
I plan to update Fedora/RISCV to v5.12.X as soon as that plans in f33 branch. That usually takes few weeks after new major kernel is released and the current stable kernel goes away. I still see 5.11.19 on kernel.org marked as stable (probably not for long). The next Fedora/RISCV F33 images I will produce will be be v5.12.X based.

[2021-05-12 04:00] kraj commented on #14
I added `stmmac.chain_mode=1` to kernel cmdline and that made all the difference.  ethernet gets IP now.

[2021-05-12 18:49] pdp7 commented on #8
@tekkamanninja can you pull this into the Fedora branch?

[2021-05-12 18:58] esmil commented on #8
@tekkamanninja Consider cherry-picking at least the device tree directly from my [starlight][] branch instead. In the meantime the device tree has been cleaned up further and an entry for the LED has been added.

[starlight]: https://github.com/esmil/linux/tree/starlight

[2021-05-12 22:45] pdp7 opened #16 "corrupt I/O with USB disk"
Originally reported by @rvs in a separate Fedora issue: https://github.com/starfive-tech/Fedora_on_StarFive/issues/27#issuecomment-830381873

[code]

[code]

[code]

[2021-05-13 01:19] mcd500 commented on #8
It also require the new dts for the reboot working
[riscv: dts: Add JH7100 and BeagleV Starlight support](https://github.com/esmil/linux/commit/95e3f348e82ef29a13f2d07dfdfc6693e26abd2e)

[2021-05-13 01:21] mcd500 commented on #8
@tekkamanninja screenshot of when reboot working
[code]

[2021-05-13 01:50] tekkamanninja commented on #8
@pdp7 Great thanks to all,  sure , we will push it soon

[2021-05-13 03:37] sarnold opened #17 "5.13.0-rc1 observations: insecure W+X mapping and framebuffer memory"
I'm not saying these are connected, just first-boot observations with the latest kernel version.  Notes:

* this is 5.13 geertu branch plus a few commits from the def_config branch, plus one build fix (modpost missing license error on framebuffer module)
* modified starlight_defconfig to enable some modules (framebuffer, drm stuff)
* wifi is all built into the kernel (including the firmware/device

[2021-05-13 08:46] esmil commented on #17
@sarnold Just fyi I have a [starlight][] branch that is Geert's forward port of my 5.12 branch + stmmac cleanups from Matteo + some more devicetree cleanup. It doesn't fix the issues above, but I intend to keep it up to date with the latest rc's and merge all future starlight work into it.

[starlight]: https://github.com/esmil/linux/tree/starlight

[2021-05-13 08:51] oaken-source opened #18 "workqueue lockup in rcu_sched"
Using linux-5.12 on the 7100, after a couple hours or days of running, I get messages like the following on the serial console:

[code]

This repeats ad nauseum, while everything else seems to be locked up. The serial console is otherwise unresponsive and network access through ping and ssh simply times out.

[2021-05-13 17:32] sarnold commented on #18
I can name that tune in 2 bars: broadcom OOPS => workqueue BUG

However, I've really only seen these on startup (ie, when wifi gets modprobed).

[code]

[2021-05-13 17:38] oaken-source commented on #18
I have the wifi module blacklisted:

[code]

I haven't checked whether it is built-in in the kernel config I use though.

[2021-05-13 23:16] kraj opened #20 "System freeze after running disk heavy compile operations with 5.13-rc1"
I am seeing that system is freezing when doing some heavy compile operations especially with clang

[code]

[2021-05-13 23:16] kraj commented on #20
@esmil any ideas ?

[2021-05-15 22:32] Civil commented on #20
For me similar thing happens in kernel 5.10.6 and in 5.12.3, stacktraces are a bit different, but the latest one is:
[code]

[2021-05-17 13:43] esmil commented on #17
I applied a patch from the linux-riscv mailing list that fixes this in my starlight branch.

[2021-05-18 04:24] pdp7 opened #21 "support libcamera"
It is ideal if the JH7100 video and camera input (CSI + ISP) are able to be supported by libcamera
https://libcamera.org/
@kbingham can assist with but coordination with StarFive engineers is needed in order to do do

[2021-05-18 08:25] pdp7 commented on #9
@tekkamanninja

current plan look ok?

1) pull in the new 5.13-rc2 https://github.com/esmil/linux/tree/starlight into https://github.com/starfive-tech/linux/tree/esmil_starlight

2) copy 5.13-rc2 https://github.com/starfive-tech/linux/tree/esmil_starlight to new branch https://github.com/starfive-tech/linux/tree/jh7100-upstreaming

3) use jh7100-upstreaming for git send-email

[2021-05-18 08:35] geertu commented on #9
Lots of commits lack Signed-off-by tags.
Don't forget to run scripts/checkpatch.pl before posting patches, so individual reviewers don't have to point out all issues detected.

[2021-05-18 09:36] pdp7 commented on #17
Here is the W+X fix for anyone interested:
https://github.com/esmil/linux/commit/b865eb820db8b9b94a7a2d2619e46cc3251fb90d

[2021-05-18 09:45] pdp7 commented on #14
@kraj  Is the original problem of `NETDEV WATCHDOG: eth0 (stmmaceth): transmit queue 0 timed out` still happening?

[2021-05-18 21:27] pdp7 commented on #17
@sarnold FYI - @geertu has fixed the fbdev memory probem in https://github.com/esmil/linux/commit/feadd1807e26408a94bbf7fcd6575e549647317b and @esmil has added to https://github.com/esmil/linux/commits/starlight

[2021-05-18 23:55] sarnold commented on #17
Yup, i just refreshed my 5.13 patches and now I have `/dev/fb0` and dmesg is happy.  Thanks!  If this was really a bug, you can close it now...

[code]
and then towards the end:
[code]
which I *think* is for hdmi audio.

[2021-05-19 02:24] #17 closed, assigned to tekkamanninja, pdp7

[2021-05-20 02:30] pdp7 commented on #15
@kraj I am discussing with @tekkamanninja and @MichaelZhuxx, could you please add the full boot log from the console the next time this happens?

[2021-05-20 02:39] pdp7 commented on #20
@kraj I am talking to @tekkamanninja and we are wondering if it would be possible to try this with the 5.10 Fedora kernel?  We want to constrast that with 5.13-rc1.  Could you also specify exactly what commands you are using to run the compile?

[2021-05-20 02:41] pdp7 commented on #18
@esmil  @sarnold @oaken-source have you ever observed this rcu_sched error in the 5.10 kernel?  @tekkamanninja and I are trying to narrow down what might be the cause

[2021-05-20 02:42] oaken-source commented on #18
Yes, 5.10 showed the same behaviour.

[2021-05-20 02:43] oaken-source commented on #18
I think the cause is probably I/O related, it seems to only happen when the system writes a lot of data to the SD card, but I need to verify that still

[2021-05-20 03:04] oaken-source commented on #18
I've been compiling gcc for the last 48 hours, but as soon as that's finished, I have a 5.12.4 kernel built based on https://github.com/esmil/linux/commits/starlight-5.12.y that I will try

[2021-05-20 21:58] stffrdhrn commented on #1
Should we close the [fedora issue](https://github.com/starfive-tech/Fedora_on_StarFive/issues/3) and link to this one?  Also the excessive logging bug.

 - https://github.com/starfive-tech/Fedora_on_StarFive/issues/3
 - https://github.com/starfive-tech/Fedora_on_StarFive/issues/20 - excessive logging

[2021-05-20 22:02] pdp7 commented on #1
@stffrdhrn yes, that is a good idea I think.

[2021-05-20 22:03] pdp7 commented on #1
_**[[This is a comment from @stffrdhrn in duplicate issue]](https://github.com/starfive-tech/Fedora_on_StarFive/issues/3#issuecomment-845502599)**_

[2021-05-21 06:51] geertu commented on #1
@pdp7 @stffrdhrn

I stuck a WARN() in the cache flushing code, so it will print a backtrace when the issue happens again

https://github.com/esmil/linux/pull/9

[2021-05-21 08:02] stffrdhrn commented on #1
@geertu Thank's,  that's what I was thinking to do you beat me to it.  For me these are all coming from `uas_alloc_data_urb` which is accessed via `scsi` / `blk` layer.  This is consistent with people complaining about mass storage io having problems.

The below shows up when I plug in a 1TB HDD drive via a USB hub (the hub is needed for powering the disk).

## During bootup

[code]

## Running vg

[2021-05-21 08:15] stffrdhrn commented on #1
I think this is happening because this code passes in a `NULL` for the transfer buffer. The dcache flush code translates null to `2080200000`.

[code]

[2021-05-21 08:29] stffrdhrn commented on #1
This patch fixes the issue for me.

[code]

[code]

[2021-05-21 08:38] stffrdhrn commented on #1
I submitted a patch for the above : https://github.com/esmil/linux/pull/10

[2021-05-21 20:18] pdp7 commented on #1
@stffrdhrn thank you very much!  this is great progress.  great to see it is now in @esmil starlight branch https://github.com/esmil/linux/commit/a22fc12294bf6621fdc4a5a346b201ab49a09bb7

cc @MichaelZhuxx @tekkamanninja

[2021-05-23 05:24] davidlt commented on #16
Isn't this fixed by https://github.com/esmil/linux/pull/10 ?
@pdp7 could you retest?

[2021-05-23 23:36] rvs commented on #16
FWIW I haven't see it with his kernel @davidlt

[2021-05-25 02:07] kraj commented on #15
here is full log

[code]

[2021-05-26 06:39] pdp7 commented on #9
_FYI - I have edited the original issue description_

The important branches are now:
* https://github.com/starfive-tech/linux/tree/fedora-vic-7100_5.10.6 which is used for @tekkamanninja [Fedora image](https://github.com/starfive-tech/Fedora_on_StarFive)
* https://github.com/starfive-tech/linux/tree/master is `torvalds/linux/master`
* https://github.com/starfive-tech/linux/tree/esmil_starlight is

[2021-05-26 13:08] MichaelZhuxx commented on #15
I got an interesting finds that hartid will be zero in opensbi booting infomation and I2C and on-chip temperature sensor work not normally in kernel log when every time system get stuck.

here is findings when get stuck

[code]

here is the information that the system started successfully
[code]

Heard from our SoC team, the hartid is zero as default before running into kernel.
maybe there are som

[2021-05-26 16:12] esmil commented on #15
@MichaelZhuxx Very nice find! Is hart 0 the E24 co-processor, because then it's no wonder everything is broken when that is chosen as boot hart.

[2021-05-26 16:29] kraj commented on #15
I am using fedora branch of starfive fork of openSBI

https://github.com/riscv/meta-riscv/blob/master/recipes-bsp/opensbi/opensbi_starfive-0.8.0.bb#L12

I wonder if we should switch to using upstream version now that support has landed there ?

[2021-05-26 18:02] pdp7 commented on #9
@MichaelZhuxx please delete the `main` branch as it is not used https://github.com/starfive-tech/linux/tree/main

[2021-05-26 19:16] pdp7 commented on #15
I opened https://github.com/starfive-tech/opensbi/issues/4 to see if we can switch.  Hopefully @lbmeng and @tekkamanninja can comment

[2021-05-27 01:15] pdp7 commented on #8
@tekkamanninja is this in Fedora yet?

[2021-05-27 01:16] pdp7 commented on #14
@kraj is this still a problem or should I close?

[2021-05-27 01:20] pdp7 commented on #16
@stffrdhrn you tested and no longer had an issue with USB mass storage after https://github.com/starfive-tech/linux/commit/fbc58a5e93eb643834af2b543d29f605282067e2, correct?

It seemed like from your comment here that the USB disk is working ok:
https://github.com/starfive-tech/linux/issues/1#issuecomment-845778757

[2021-05-27 01:36] pdp7 commented on #20
@kraj have you been able to test with the Fedora image to see if this occurs?

[2021-05-27 01:37] pdp7 commented on #18
@oaken-source any update on the testing?  thanks!

[2021-05-27 01:53] pdp7 commented on #20
I have been notified by @kraj on Slack that this issue still happens on 5.13-rc3: https://github.com/starfive-tech/linux/tree/esmil_starlight

[2021-05-27 01:54] MichaelZhuxx commented on #9
Sure, Done

[2021-05-27 02:34] pdp7 commented on #14
Khem confirmed with me on Slack that this is fixed

[2021-05-27 02:34] #14 closed, assigned to tekkamanninja

[2021-05-27 03:26] stffrdhrn commented on #16
I never had a corruption issue. What kernel version was this for?

[2021-05-27 08:32] oaken-source commented on #18
@pdp7 unfortunately, I haven't managed to reliably trigger the board to lock up. It seems to only happen when I'm not looking.
But it's still locking up on 5.12.6. I've posted a few more details on the issue you linked above

[2021-05-27 08:40] esmil commented on #16
Just to make sure we're all talking about the same problem. My experience is that there is a big difference between USB 2.0 / high speed and USB 3.0 / super speed. USB 2.0 seems to work ok for me, but USB 3.0 devices are not detected when hotplugged and seems to work quite unreliably.

[2021-05-28 09:33] oaken-source commented on #18
it's been pointed out to me that I'm using the u-boot device trees instead of the ones built with the linux kernel. I'll test if using the correct dtb's fixes the issue and report back.

[2021-05-29 01:37] pdp7 commented on #16
@stffrdhrn that is good to hear, I think the issue that @rvs originally encountered was using the Fedora image from @tekkamanninja which has a 5.10 kernel.  So that is good to hear you have noticed no problem with the 5.13 kernel.

@esmil that is good to know about the issues with USB 3.0 super speed devices.  @MichaelZhuxx @tekkamanninja I believe there was mention awhile ago about how USB had a

[2021-05-29 01:38] pdp7 commented on #15
@MichaelZhuxx any updates from the investigation you have been doing into this issue?

[2021-05-29 01:55] pdp7 commented on #1
I think this is an interesting idea Nick Kossifidis (@mickflemm):

_[(copied from the BeagleV Beta developer forum)](https://forum.beagleboard.org/t/l2-cache-flushing-due-to-starfive-7100-architecture/29197/33?u=drewfustini)_

@tekkamanninja @tpetazzoni  @palmer-dabbelt @stffrdhrn @avpatel @geertu @teknoraver @kbingham @mripard Any feedback on this approach of creating a 'fake' IOMMU driver to avo

[2021-05-29 02:24] avpatel commented on #1
Hi Nick, your idea of fake/dummy IOMMU sounds good to me. We will anyway need something similar for 32bit devices on a RV64 system.

The ARM64 kernel did something similar for legacy 32bit devices so maybe that can be good reference. For RV64, we need to use IOMMU for uncached region and 32bit devices.

Having said above, this only solves half-problem for DMA mappings. We still need a way to expli

[2021-05-29 06:39] oaken-source commented on #18
with the updated dtb's, the system still locks up, but now it does so quietly, without any obvious related kernel output.

[2021-05-31 01:07] mcd500 commented on #15
I realized that this is the same issue. https://github.com/starfive-tech/Fedora_on_StarFive/issues/40
Closed it at the Fedora_on_StarFive/issues/40.

[2021-05-31 04:59] mcd500 commented on #15
@pdp7 @esmil @davidlt @geertu I made the PR to fix the boot hang. Please see the
https://github.com/esmil/linux/pull/15 <- found later, this is not needed.
and
https://github.com/davidlt/opensbi/pull/1

It prevent choosing hart0 which is e24 and booting from hart1 or hart2 from u74 in the opensbi lottery selection.
Which makes a bit complicate it is that the fix in opensbi require the dtsi fix in

[2021-05-31 07:44] oaken-source commented on #18
I experienced two more lockups after 27 and 22 hours of runtime. the first one was silent, the second one produced

```[84359.606936] dw_mmc 10000000.mmc: Unexpected interrupt latency```

shortly before locking up.

[2021-05-31 08:06] oaken-source commented on #18
here is another full output: https://pastebin.com/6b2BgmFd

[2021-05-31 12:08] mcd500 commented on #15
It turns out that it is not that simple.
Only https://github.com/davidlt/opensbi/pull/2 is required to make the opensbi not to select hart0.
The https://github.com/esmil/linux/pull/15 was not needed.
However, with the patch https://github.com/davidlt/opensbi/pull/2, I found that it will reduce the performance of the network.
This is the logs.

with the patch on opensbi
[code]
but this is the netwo

[2021-06-03 01:20] #9 closed, assigned to tekkamanninja, MichaelZhuxx

[2021-06-03 01:21] pdp7 commented on #8
@tekkamanninja let's close when the Fedora image on 5.13

[2021-06-03 01:25] pdp7 commented on #15
Known good and bad cards: https://forum.beagleboard.org/t/known-good-sd-cards/29958
@MichaelZhuxx @tekkamanninja please take a look

[2021-06-03 01:28] pdp7 commented on #15
@kraj have you tried changing the frequency in the DTS for SD card down lower that they default?  StarFive is interested if that might help.  Also, do you have a product link for the card?  StarFive would like to get a card that is exhibiting this problem

[2021-06-03 01:35] pdp7 commented on #20
This stability is likely related to the SD card issue: https://github.com/starfive-tech/linux/issues/15

[2021-06-03 01:36] pdp7 commented on #18
This stability is likely related to the SD card issue: https://github.com/starfive-tech/linux/issues/15

[2021-06-03 01:47] kraj commented on #15
I think we have a solution for this https://github.com/riscv/meta-riscv/pull/294
I am currently running this locally under a reboot cycle test http://bec-systems.com/site/942/running-a-reboot-cycle-test-shell-script-with-systemd

its been going well, it has been successfully rebooting for past 1 hr ( 111 reboots )

[code]

[2021-06-03 02:00] lbmeng commented on #15
@kraj That's good news! Thanks for testing.

[2021-06-03 02:52] pdp7 commented on #15
great feedback

@tekkamanninja @MichaelZhuxx please take a look

[2021-06-03 04:39] kraj commented on #15
after 4hrs of reboot cycle test and 252 reboots, I think we are good with this issue when we switch to mainline OpenSBI + https://github.com/starfive-tech/u-boot/pull/17

Having said that SD card read/write still might be a problem when system is under heavy load but that problem will be different than the reboot issue.

[2021-06-03 04:53] lbmeng commented on #15
Thank you @kraj for the testing. I have just merged https://github.com/starfive-tech/u-boot/pull/17 to the StarFive U-Boot repo.

[2021-06-08 00:13] pdp7 opened #26 "make 5.13 kernel the default branch"
@tekkamanninja There is not much value directing people to the 5.10 branch as the default ( https://github.com/starfive-tech/linux/tree/fedora-vic-7100_5.10.6).  I believe the only reason you are still using 5.10 is because Fedora 33 was 5.10?  Akira (@mcd500) has been repackaging the Fedora image to have the 5.13 kernel branch from @esmil and that is working well.

Now that @esmil can push direct

[2021-06-08 09:46] esmil commented on #26
Yeah, if the starlight branch is made the default, let's call it something better than `esmil_starlight`. How about just `starlight` so it doesn't matter if you pull from github.com/starfive-tech/linux or github.com/esmil/linux, and it's just "the starlight branch".

I don't mind `jh7100-5.13` either. I'll just push to the starlight branch to that name until 5.14-rc1 is out and ill switch to `jh71

[2021-06-08 16:16] pdp7 commented on #26
@esmil thanks for the comment.  Good point that soon we will have 5.14-rc1.

**How about renaming `esmil_starlight` to `jh7100-devel` and making that the default?**

When we get ready to start rebasing for a proper patch series for git send-email, then 'jh7100-upstreaming' could be created from 'jh7100-devel'.

Regarding 'starlight', it would be best to avoid using that term on its own as 'beaglev

[2021-06-11 01:28] pdp7 commented on #8
I will test this when the new Fedora image with the 5.13 kernel (from esmil_starligh branch) is ready

[2021-06-11 01:36] pdp7 commented on #15
It seems this is now resolved.  For reference, there is a fw_paylouad.bin.out that people can use in:
https://forum.beagleboard.org/t/new-firmware-boot-hang-is-fixed/29986/3

[2021-06-11 01:39] pdp7 commented on #20
@kraj is this still a problem after using the fw_payload.bin.out after moving to upstream opensbi and generic like @mcd500 did in
https://forum.beagleboard.org/t/new-firmware-boot-hang-is-fixed/29986/3

[2021-06-11 01:40] pdp7 commented on #18
@oaken-source did you get a new SD card yet?

We thinks this might be resolved with this new fw_paylouad.bin.out
https://forum.beagleboard.org/t/new-firmware-boot-hang-is-fixed/29986/3

[2021-06-11 02:04] oaken-source commented on #18
I've been using that new firmware/bootloader for a couple days now. No issues so far, uptime is at 8 days.

So I think it looks like the issue is indeed resolved with this new image.

[2021-06-11 02:56] kraj commented on #20
I have not seen it lately but then I have not tried to compile clang on beagleV, like I did when it froze, let me try it tonight. but I think we can close this one.

[2021-06-11 02:56] #20 closed, assigned to tekkamanninja, pdp7

[2021-06-11 04:54] pdp7 commented on #18
great to hear

[2021-06-11 05:14] #18 closed, assigned to tekkamanninja

[2021-06-11 05:16] pdp7 commented on #16
I am going to close this but I will include a link to any new issues regarding USB disk

[2021-06-11 05:16] #16 closed, assigned to tekkamanninja

[2021-06-11 05:17] pdp7 commented on #15
@kraj it sounds like the issue is solved but please reopen if SD card problem arises again

[2021-06-11 05:17] #15 closed, assigned to tekkamanninja

[2021-06-14 09:26] esmil commented on #26
jh7100-devel is fine by me. Alternatively we could call it just `beaglev`, so you check out the beaglev branch and do beaglev_defconfig etc. Thus postponing the naming problem until the beaglev-moonlight board comes out :-P

[2021-06-16 21:02] pdp7 commented on #26
@esmil I like your suggestion of beaglev as that is a simpler branch name than jh7100-devel.  The description can be that it is our downstream patches for the BeagleV Starlight JH7100 on top of the current mainline.

I created a new branch based on esmil_starlight:
https://github.com/starfive-tech/linux/tree/beaglev

If we all like that name, then I can start updating various links from 'esmil_sta

[2021-06-16 21:38] esmil commented on #26
Cool. I'll just push to both `esmil_starlight` and `beaglev` next time then.

[2021-06-17 13:52] kraj commented on #20
I finished a local kernel build on beagleV using clang compiler and it did not freeze,so I think this issue is definitely fixed although I did see one  kmsg

[code]

[2021-06-18 00:22] teknoraver opened #27 "RAM access is slow"
I found access to memory pretty slow in the BeagleV. I can't go past 280 mbytes (which means 36 M reads per second):

[code]
As comparison, this is the same test on a different system with a 2 GHz CPU and 2400MHz DDR4 memory:
[code]
The tool I'm using is at:
https://gist.github.com/teknoraver/36f471ef97d4c6a6cb11148e72f9e975

[2021-06-18 00:24] pdp7 commented on #27
@MichaelZhuxx @davidlt @tekkamanninja does this match what you see currently?

[2021-06-18 00:28] teknoraver commented on #27
That are the same numbers that I measured while writing the C `memcpy`.
I made this kernel code:
[code]
Which give this output:
[code]

[2021-06-18 00:59] avpatel commented on #27
Most RISC-V implementations don't have HW misaligned load/store available so on these implementations OpenSBI will get trap-n-emulate for misaligned load/store using unprivileged access (MSTATUS.MPRV).

Regards,
Anup

[2021-06-18 02:46] teknoraver commented on #27
@avpatel I'm doing aligned accesses.
Unaligned accesses are 20x slower
[code]

[2021-06-18 03:37] avpatel commented on #27
@teknoraver I had similar observation in-past for Raspi[1|2] boards. This may be also related to slower DRAM (i.e. LPDDR) or some other system configuration of low-cost boards.

BTW, with SBI v0.3 spec we now have SBI PMU firmware events which can be used to know amount of misaligned load/store handling, remote TLB flushes, etc done by OpenSBI

Regards,
Anup

[2021-06-18 07:38] geertu commented on #27
@teknoraver

The tool I've been using for the past +20 years is at https://gist.github.com/geertu/f86486959f68b2337bd395d41a5d832c

read: 255 MiB/s
write: 294 MiB/s
copy: 18 MiB/s

I'm a bit surprised by the copy performance, which is much less than what you got.  Usually it lies in the range of 50-100% of the minimum of read and write performance.

[2021-06-20 22:32] esmil commented on #26
The defconfig is now also called `beaglev_defconfig` and it has `CONFIG_LOCALVERSION="-beaglev"`.

[2021-06-28 11:43] andreas-schwab commented on #1
[    7.142245] Unable to handle kernel NULL pointer dereference at virtual address 0000000000000017
[    7.151101] Oops [#1]
[    7.153373] Modules linked in: dw_mmc_pltfm(E) dw_mmc(E) dw_axi_dmac_platform(E) virt_dma(E) mmc_core(E) sg(E) dm_multipath(E) dm_mod(E) scsi_dh_rdac(E) scsi_dh_emc(E) scsi_dh_alua(E) efivarfs(E)
[    7.170734] CPU: 0 PID: 94 Comm: kworker/u4:2 Tainted: G            E

[2021-06-28 21:03] pdp7 commented on #1
@andreas-schwab what kernel are you running?

@esmil has pulled @atishp04 dma ops patch series into the 5.13 branch:
https://github.com/starfive-tech/linux/commits/beaglev

[2021-06-29 07:44] andreas-schwab commented on #1
https://github.com/starfive-tech/linux/commits/beaglev

[2021-06-29 08:30] atishp04 commented on #1
@andreas-schwab Can you please share your .config and vmlinux with debug info enabled?
Your trace clearly points that mremap failed for some reason during probe. It seems you get it everytime. But nobody else has reported it. AFAIK, there more than 3/4 folks have been running dma-noncoherent patch for multiple days.

I will look into it.

[2021-06-29 08:48] andreas-schwab commented on #1
[code]

[2021-06-30 00:06] atishp04 commented on #1
I can't reproduce this issue with the beaglev_defconfig or your config while using a fedora image. With your config, it stucks during userspace but I don't see a panic during probe.

I tried to diff the two configs and tried disabling the usual suspects (FLATMEM, CMA). But I am unable to reproduce this issue.

Can you try the beaglev_defconfig ?

[2021-06-30 07:30] andreas-schwab commented on #1
Make sure you have the module in the initrd!

[2021-06-30 09:21] andreas-schwab commented on #1
[  OK  ] Finished Coldplug All udev Devices dw_axi_dmac_platform 100b0000.dma-controller: DesignWare AXI DMA Controller, 4 channels
[0m.
[    8.073403] Synopsys Designware Multimedia Card Interface Driver
[    8.103430] dw_mmc 10000000.mmc: coherent device 0 dev->dma_coherent 0
[    8.103538] dw_mmc 10010000.mmc: coherent device 0 dev->dma_coherent 0
[    8.118034] dw_mmc 10000000.mmc: IDMAC suppo

[2021-06-30 19:59] atishp04 commented on #1
Ahh got it. The issue is there is a rouge entry "ffffffffffffffff" in iomem_resource. I am suspecting this is happening because of some module because setup.c adds the resource correctly. I verified that with boot time print and a test module.

Can you share your initrd where I can reproduce this ?

[2021-07-01 02:16] pdp7 commented on #8
From Fedora June 18th image:
[code]

[2021-07-01 06:28] pdp7 commented on #8
For the new Fedora image (June 18) with 5.13 kernel, the reboot command still fails:
[code]
Here is the full dmesg:
[code]
Decompiled DTB:
[code]

[2021-07-01 06:42] pdp7 commented on #8
@tekkamanninja I think Fedora needs this config for the TPS65086 restart to work when using @esmil  5.13 branch:
CONFIG_MFD_TPS65086=y
CONFIG_POWER_RESET_TPS65086=y

There is now Fedora 5.13 image:
https://beagleboard.org/~pdp7/Fedora-riscv64-vic7100-xfce-dev-Rawhide-20210618.n.0-sda.raw.zst

But the reset does not yet work.

@esmil Where does the "tps65086-restart" compatible go?

[2021-07-01 09:01] andreas-schwab commented on #1
https://download.opensuse.org/repositories/home:/Andreas_Schwab:/riscv:/beaglev/images/openSUSE-Tumbleweed-RISC-V-JeOS-beaglevstarlight.riscv64.raw.xz

[2021-07-01 09:20] esmil commented on #8
@pdp7 It's in the tps65086 MFD driver: https://github.com/starfive-tech/linux/commit/86fb44f14f6d910b27936d74fb5cfe76368955cb#diff-8550b04a3f8a58712c872a3ac478e223c78ab99b5a79b22774178f0633bc7483R27

In general you need to check 3 things:
1. The right device tree is loaded. Look for `Machine model: BeagleV Starlight Beta` in dmesg
2. The TPS65086 driver loads properly. Look for `tps65086 0-005e: D

[2021-07-01 09:31] esmil commented on #8
@pdp7 In your dmesg I can't seem to spot the `tps65086 0-005e: Device: TPS650861, OTP: A, Rev: 0` line which suggests the tps65086 MFD driver not loaded/built-in

[2021-07-04 19:48] andreas-schwab commented on #1
I can no longer reproduce the crash.  Could be due to the devicetree update.

[2021-07-07 18:27] #26 closed, assigned to tekkamanninja

[2021-07-08 03:52] MichaelZhuxx commented on #8
@esmil @tekkamanninja @pdp7 It works well for latest Fedora Image https://beagleboard.org/~pdp7/Fedora-riscv64-vic7100-xfce-dev-Rawhide-20210707.n.0-sda.raw.zst, closed

[2021-07-08 03:52] #8 closed, assigned to tekkamanninja

[2021-07-08 18:57] pdp7 commented on #8
I confirm that it worked from me as well on the beta board (v0.9 PCB)

[2021-07-14 13:50] andreas-schwab commented on #1
The crash has returned.

[    8.704013] Unable to handle kernel NULL pointer dereference at virtual address 0000000000000017
[    8.716080] Oops [#1]
[    8.718969] Modules linked in: dw_mmc_pltfm dw_mmc pwrseq_simple mmc_core dw_axi_dmac_platform spi_dw_mmio spi_dw sfctemp tps65086 mfd_core pwm_sifive_ptc regmap_i2c virt_dma sg dm_multipath dm_mod scsi_dh_rdac scsi_dh_emc scsi_dh_alua
[    8.7398

[2021-07-14 15:51] MichaelZhuxx commented on #1
What's your u-boot version? or you can try this relese version https://github.com/starfive-tech/Fedora_on_StarFive/releases.
BTW, how often does this happen?

[2021-07-14 16:02] andreas-schwab commented on #1
Does that have commit 64ead5b83959da8eb87b6963843addf5942e6ed4?  Without that it's broken.

[2021-07-14 16:09] andreas-schwab commented on #1
https://download.opensuse.org/repositories/home:/Andreas_Schwab:/riscv:/beaglev/standard/riscv64/opensbi-starfivevic7100beaglevsmode-0.9-22.1.riscv64.rpm

[2021-07-14 16:25] MichaelZhuxx commented on #1
which one do you point out

[2021-07-14 19:24] andreas-schwab commented on #1
https://github.com/starfive-tech/u-boot/commit/64ead5b83959da8eb87b6963843addf5942e6ed4

[2021-07-15 02:14] pdp7 commented on #27
@davidlt any suggestions how we could improve performance?

[2021-07-15 02:22] pdp7 commented on #1
This link does not seem to work for me:
https://download.opensuse.org/repositories/home:/Andreas_Schwab:/riscv:/beaglev/standard/riscv64/opensbi-starfivevic7100beaglevsmode-0.9-22.1.riscv64.rpm

[2021-07-15 03:31] davidlt commented on #27
Don't know what's causing this or if this is HW bottleneck.

[2021-07-15 07:10] andreas-schwab commented on #1
https://build.opensuse.org/package/show/home:Andreas_Schwab:riscv:beaglev/opensbi

[2021-07-15 20:07] andreas-schwab commented on #1
https://download.opensuse.org/repositories/home:/Andreas_Schwab:/riscv:/beaglev/standard/riscv64/opensbi-starfivejh7100beaglevsmode-0.9.20210711-26.2.riscv64.rpm

[2021-08-04 00:33] KwangSon opened #30 "typo"
Hi, I'm just follow beaglev linux kernel code for fun.
I hope I can find some place to contribute. (I'm not sure is there any mailing list? or github PR acceptable?)

I found typo
https://github.com/starfive-tech/linux/blob/6e86ec4e842c70a7d0d53dc600ac6742769b0d5f/arch/riscv/boot/dts/starfive/jh7100.dtsi#L366

nbdla -> nvdla

[2021-08-04 16:13] esmil commented on #30
Thanks. There is nothing using this specifier, so it can just be deleted. That is just the `nbdla:` part can be removed, not the node itself of course.

There is no mailing list, but PRs are very welcome.

[2021-08-05 00:40] KwangSon commented on #30
Yes it just alias, not important. but I'll create PR thanks!

[2021-08-05 00:40] #30 closed, assigned to nobody

[2021-08-12 10:47] esmil commented on #1
@andreas-schwab Is this still a problem when running upstream OpenSBI?

[2021-08-12 11:01] andreas-schwab commented on #1
No, with that commit in opensbi everything is stable.

[2021-08-26 02:00] tekkamanninja commented on #21
we will try to build this rpm package to work with the latest JH7100 video and camera driver(V4L2).

[2021-09-01 10:35] kbingham commented on #21
Is support for this platform still ongoing?

[2021-09-02 01:31] MichaelZhuxx commented on #21
Yes, we will release V4L2 this week and the next stage is to do libcamera

[2021-09-02 07:20] kbingham commented on #21
Does the V4L2 driver expose a CSI2 receiver as a V4L2 device, and V4L2 subdevices for the sensor? And the ISP as a separate node?

[2021-09-02 07:36] MichaelZhuxx commented on #21
Yes, we expose sensor, CSI, DVP, ISP as v4l2 subdevice respectively.

[2021-09-02 07:40] MichaelZhuxx commented on #21
Yes, we expose sensor, CSI, DVP, ISP as v4l2 subdevice respectively.

[2021-09-02 07:55] kbingham commented on #21
Great, let me know if there's anything I can do to help then!
Sounds like it might be time to dust off the Beagle-V-CE (collectors edition)

[2021-09-02 08:09] MichaelZhuxx commented on #21
@kbingham thanks, definitely need your help to review code at least😄

[2021-09-02 08:11] kbingham commented on #21
Sure, please ping me, send me the patches or notify me when they're available.

[2021-09-16 15:17] kbingham commented on #21
What's the status on the V4L2 drivers for this ?

[2021-09-17 12:54] MichaelZhuxx commented on #21
@kbingham
Here is pre-release multimedia subsystem for JH7100, including ALSA, V4L2, Gstreamer, VPU decoding. please refer to  [freelight-u-sdk](https://github.com/starfive-tech/freelight-u-sdk/tree/JH7100_starlight_multimedia) and [readme](https://github.com/starfive-tech/freelight-u-sdk/blob/JH7100_starlight_multimedia/README.md) to fetch, build and test it.

next step we will merge multimedia f

[2021-09-17 14:17] esmil commented on #21
@kbingham There is some new multimedia code in the beaglev-5.13.y_multimedia branch. I think testing would be greatly appreciated.

[2021-10-11 15:00] #1 closed, assigned to tekkamanninja

[2021-10-20 10:13] andreas-schwab opened #32 "Unable to handle kernel access to user memory without uaccess routines"
This happens with the kernel from <https://build.opensuse.org/package/binaries/home:Andreas_Schwab:riscv:beaglev/kernel-default/standard>.

[   10.870759][  T279] display-encoder soc:display-encoder: endpoint returns -517
[   10.879438][  T279] starfive-drm soc:display-subsystem: failed to bind soc:display-encoder (ops starfive_encoder_component_ops [starfive_drm]): -22
[   10.897231][  T279] Unab

[2021-10-20 10:21] andreas-schwab commented on #32
This is likely an init dependency problem.  When the startfive-drm module is blocked, it can be successfully loaded after the system is fully booted.

[2021-10-20 12:32] esmil commented on #32
@andreas-schwab Thanks. Yeah, the drm driver still needs a lot of work. Could you try if this is enough to fix your issue:
http://sprunge.us/5clUbe

[2021-10-21 18:18] andreas-schwab commented on #32
Still the same error.

[2021-10-26 03:09] kJugg commented on #32
@andreas-schwab      Did you compile the DRM driver as a ko module to load? could you attach linux config file and DTS file , I need them to check .

[2021-10-26 08:00] andreas-schwab commented on #32
https://build.opensuse.org/package/show/home:Andreas_Schwab:riscv:beaglev/kernel-default

The error occurs when the starfive-drm module is loaded during the udev coldplug.  You can use <https://download.opensuse.org/repositories/home:/Andreas_Schwab:/riscv:/beaglev/images/openSUSE-Tumbleweed-RISC-V-JeOS-beaglevstarlight.riscv64.raw.xz> to see the effect.

[2021-10-26 08:06] kJugg commented on #32
@andreas-schwab Thanks for your info , I will reload this version to check!

[2021-10-27 06:43] kJugg commented on #32
@andreas-schwab I downloaded the link file(XXX.xz) and flashed it to my sdcard ,after done this , I use the SD card to start knel ,and find fail log in below picture
![image](https://user-images.githubusercontent.com/88522994/139013615-f3672aa1-8ce2-49a0-b461-bc88dc76f5d0.png)

[2021-10-27 06:46] kJugg commented on #32
should I need update a matched uboot file to fit it?

[2021-10-27 07:22] andreas-schwab commented on #32
https://download.opensuse.org/repositories/home:/Andreas_Schwab:/riscv:/beaglev:/u-boot/standard/riscv64/opensbi-starfivejh7100starlightsmode-0.9.20211021-17.2.riscv64.rpm

[2021-11-28 13:29] dtaht opened #37 "bql?"
What ethernet chip are y'all using? Does it have bql support?

[2021-11-28 13:36] esmil commented on #37
I don't know, even had to google bql, but the JH7100 SoC has ethernet ip from designware using the stmmac Linux driver (CONFIG_DWMAC_GENERIC). The BeagleV Starlight boards has a Micrel KSZ9031 Gigabit PHY, and the new VisionFive V1 boards should have a "Motorcomm YT8521 Gigabit PHY".

I hope that's info you can use.

[2021-11-29 19:38] dtaht commented on #37
thx for the info. But it's my hope that those that have the boards in front of them, take the time to put in the 6 lines of code required and to test. I outline those APIs in this document (originally for broadcom) here:

http://www.taht.net/~d/broadcom_aug9_2018.pdf

[2021-11-29 19:44] dtaht commented on #37
(I'm pulling down a current tree as I write to check) Is there anything in the queue that has two ethernet interfaces?

[2021-11-29 19:46] dtaht commented on #37
ah, the fix landed long ago. Yay. fq_codel on in the build?

I'm very interested in exploring what it will take to build a decent wifi router out of one of these things.

[2021-11-29 19:48] #37 closed, assigned to nobody

[2021-11-29 23:15] esmil commented on #37
@dtaht The JH7100 SoC on the VisionFive V1 is basically a test chip for StarFive's upcoming JH7110 which should also have PCIe last I've heard. I don't know if there are any plans for more than one ethernet interface though.

As for making a wifi router out of this board I wouldn't use the onboard AP6236 module (broadcom chipset). It's connected through 50MHz 4bit SDIO. But with a decent USB3 wifi

[2021-11-30 00:15] teknoraver commented on #37
Hi, I never tried to boot without `stmmac.chain_mode=1`. Anyway I was getting very decent performances, almost 1 gbit with 1500 byte packets

[2022-01-25 15:18] HougeLangley opened #49 "Cross-compile in Debian sid with Error: unrecognized opcode `csrr a5,0xc01'"
[code]

[2022-01-26 14:53] HougeLangley opened #50 "usb_storage: Unknown symbol __stack_chk_guard (err -2)"
[code]

[2022-01-26 14:54] HougeLangley commented on #50
build config is `starfive_jh7100_fedora_defconfig`

[2022-01-26 14:55] HougeLangley opened #51 "brcmfmac: brcmf_sdio_htclk: HT Avail timeout (1000000): clkctl 0x50"
[code]

[2022-01-26 17:12] HougeLangley commented on #50
I changed compile. using gcc-riscv64-linux-gnu, Problem solved. gcc 11 's problem?

![usb](https://user-images.githubusercontent.com/1161594/151212265-f93fb038-63cc-48e6-bb27-18c7c8a55b87.png)

[2022-01-26 17:16] HougeLangley commented on #50
Linux version 5.17.0-rc1-starfive-1 (root@debian) (riscv64-linux-gnu-gcc (Debian 10.2.1-6) 10.2.1 20210110, GNU ld (GNU Binutils for Debian) 2.35.2) #1 SMP PREEMPT Thu Jan 27 00:24:20 CST 2022

[2022-01-26 17:43] esmil commented on #49
This looks like what Aurelien is trying to fix here: https://lore.kernel.org/linux-riscv/20220126171442.1338740-1-aurelien@aurel32.net/

Maybe you could try out that patch

[2022-01-26 19:36] davidlt commented on #49
Note this is only a problem if you use GCC 12 (unreleased) or/and binutils 2.38 (unreleased). The default ISA is now different.

See: http://lists.infradead.org/pipermail/linux-riscv/2022-January/011728.html

There are more packages that should be broken, incl. OpenSBI, U-Boot, etc.

This is because build scripts in those will override and pass their own `-march`.

[2022-01-27 01:02] HougeLangley commented on #49
Thanks

[2022-01-27 01:03] #49 closed, assigned to nobody

[2022-04-07 08:44] andreas-schwab opened #53 "../include/linux/fortify-string.h:358:63: error: expected identifier or '(' before '{' token"
current visionfive branch doesn't compile:

  CC      arch/riscv/lib/string.o
In file included from ../include/linux/string.h:253,
                 from ../include/linux/bitmap.h:11,
                 from ../include/linux/cpumask.h:12,
                 from ../include/linux/mm_types_task.h:14,
                 from ../include/linux/mm_types.h:5,
                 from ../include/linux/buildid.h:5,

[2022-04-08 23:11] andreas-schwab opened #54 "Kernel panic - not syncing: stack-protector: Kernel stack is corrupted in: devres_release_all+0xc6/0xc6"
[   28.165210][  T463] Kernel panic - not syncing: stack-protector: Kernel stack is corrupted in: devres_release_all+0xc6/0xc6
[   28.176325][  T463] CPU: 0 PID: 463 Comm: systemd-udevd Tainted: G        W         5.18.0-rc1-5-default #1 openSUSE Tumbleweed (unreleased) 288b2dfe62bdc7b36eea20c3349ac93726963c75
[   28.192433][  T463] Hardware name: StarFive VisionFive V1 (DT)
[   28.198245][  T463]

[2022-04-12 16:06] esmil commented on #53
I just rebased the visionfive branch on v5.18-rc2 and added `#undef`s to hopefully fix this.
@teknoraver I wonder if it soon time to drop these patches :/

[2022-04-12 16:37] teknoraver commented on #53
the problem is only with fortify headers?

[2022-04-12 16:43] esmil commented on #53
Yeah, I've fixed this specific problem by adding `#undef memcpy` etc. before their definitions to undo the macros in fortify-string.h.
https://github.com/starfive-tech/linux/commit/c190425d9c3f4b59571b66ed15993d0868df6124#diff-f941e12d5e8b6cfb6a58bec6cdeb94be4cc7b535297ad23ba97605e9dc2b4dafR89

I was just wondering if you'd given up working on these patches. If you haven't I don't mind keeping the

[2022-04-12 17:02] teknoraver commented on #53
I think we should push them into mainline

[2022-04-12 19:33] andreas-schwab commented on #53
I think the right fix is to #define __NO_FORTIFY in arch/riscv/lib/string.c, like lib/string.c (as in commit cfecea6ead5f).

[2022-04-20 14:57] #53 closed, assigned to nobody

[2022-05-10 13:13] andreas-schwab commented on #54
This is triggered by loading the snd_soc_starfive_i2svad module.

[2022-05-26 16:34] nmeum commented on #54
I am also running into this with current Git HEAD, commit: 11ebca031c712aa3e67c531261a8f436724f5ac5

[code]

Full Boot Log: [starfive-visionfive-i2svad-kernel-panic.txt](https://github.com/starfive-tech/linux/files/8780541/starfive-visionfive-i2svad-kernel-panic.txt)

Kernel Config: [config-starfive.riscv64.txt](https://github.com/starfive-tech/linux/files/8780538/config-starfive.riscv64.txt)

Wor

[2022-05-29 10:36] atzlinux opened #55 "How to get brcm/brcmfmac43430-sdio.starfive,visionfive-v1.bin?"
5.18.0-starfive-5.18

dmesg -l warn

[   18.486401] brcmfmac mmc1:0001:1: Direct firmware load for brcm/brcmfmac43430-sdio.starfive,visionfive-v1.bin failed with error -2
[   18.559676] brcmfmac mmc1:0001:1: Direct firmware load for brcm/brcmfmac43430-sdio.starfive,visionfive-v1.txt failed with error -2
[   18.580190] brcmfmac mmc1:0001:1: Direct firmware load for brcm/brcmfmac43430-sdio.txt faile

[2022-05-29 12:16] esmil commented on #55
Yeah, the brcmfmac driver first tries `brcm/brcmfmac43430-sdio.<board name>.bin` but then falls back to the generic `brcm/brcmfmac43430-sdio.bin` and similarly for other firmware files. If you look at the commit adding the [visionfive_defconfig and firmware][1] you'll see that it adds `brcm/brcmfmac43430-sdio.bin`, `brcm/brcmfmac43430-sdio.clm_blob` and `brcm/brcmfmac43430-sdio.AP6212.txt` and sym

[2022-05-29 13:49] atzlinux commented on #55
In Debian, the firmware-brcm80211   package version 20210818-1 only has
the following files:

cd /lib/firmware/brcm

ls -l brcmfmac43430-sdio*
-rw-r--r-- 1 root root 875  8月 24  2021 brcmfmac43430-sdio.AP6212.txt
lrwxrwxrwx 1 root root  31  8月 24  2021 brcmfmac43430-sdio.bin ->
../cypress/cyfmac43430-sdio.bin
lrwxrwxrwx 1 root root  36  8月 24  2021 brcmfmac43430-sdio.clm_blob ->
../cypress/cyfmac4

[2022-05-29 16:22] esmil commented on #55
Yes, your listing of /lib/firmware/brcm directory includes all the 3 files. You just needed the symlink `brcmfmac43430-sdio.starfive,visionfive-v1.txt -> brcm43430-sdio.AP6212.txt`.

As I said the driver first tries the board-specific name before it falls back to the generic name. That's why you still get the error message when it can't find the board-specific name.

[2022-05-30 01:52] atzlinux commented on #55
Yes, just I also do

ln -s brcmfmac43430-sdio.bin brcmfmac43430-sdio.starfive,visionfive-v1.bin

can also fix the error:

|brcmfmac mmc1:0001:1: Direct firmware load for
brcm/brcmfmac43430-sdio.starfive,visionfive-v1.bin failed with error -2|

|so I suggest add this symlink file in this repo too.|

[2022-05-30 13:36] esmil commented on #55
No, the reason the firmware is added in that commit is to be able to build a monolithic kernel with all the needed firmware. However since we want the kernel to work on both the VisionFIve V1 boards and BeagleV Starlight boards we'd then need to build in two differently named copies of the same firmware files. In this case it's better to just build in the firmware under the generic names and let t

[2022-05-30 14:31] atzlinux commented on #55
If use fall back, dmesg will has error infos, use demsg -l warn will also display errors, it is uncomfortable for users.

Even after add  the symlink files, it still can  build a monolithic kernel to support  both the starfive,visionfive-v1 and beagle,baglev-starlight-jh7100-r0 in the same time.

[2022-05-30 15:12] esmil commented on #55
No, wasting memory just to avoid a log line would be silly. If that log line bothers you so much, you should submit a patch upstream so that the driver only prints an error after it fails to find both the board-specific path and the generic path. Once you submit it upstream I'd be happy to carry it in this tree until it's merged.

[2022-05-30 15:15] #55 closed, assigned to nobody

[2022-05-31 01:24] atzlinux commented on #55
Is this not the starfive-tech board kernel upstream?

The driver is write by your company, you should update it in this tree
at first.

If need, you may commit it to kernel.org.

[2022-05-31 09:41] esmil commented on #55
It is the upstream for the StarFive JH7100 SoC, but wifi on the VisionFive V1 and BeagleV boards are on a separate module connected to the SoC over SDIO. The module uses a chipset from Broadcom and can be used with the upstream brcmfmac driver as is, and so far there are no changes to the driver in this tree.

[2022-05-31 09:55] atzlinux opened #56 "Is the bluetooth driver ready?"
I can't find any bluetooth device.

hciconfig hasn't output.

[2022-05-31 10:04] esmil commented on #51
Sorry for the late reply. It seems you're missing the firmware for the wifi module. See #55

[2022-05-31 10:04] #51 closed, assigned to nobody

[2022-06-01 06:42] atzlinux opened #57 "Kernel panic when use USB wireless netcard zd1211rw 1-1.1:1.0: phy1"
When I plugin SAGEM USB wireless netcard and boot the board, it will get Kernel panic.

The following info copy from serial port:

[   23.485555] usb 1-1.4: reset high-speed USB device number 4 using xhci-hcd
[   23.659675] zd1211rw 1-1.4:1.0: phy1
[   23.668942] usbcore: registered new interface driver zd1211rw

Debian GNU/Linux bookworm/sid Debian-StarFive ttyS0

Debian-StarFive login: [   23.74

[2022-06-01 12:08] esmil commented on #57
Unfortunately there a problems with USB and CONFIG_PM=y, so make sure that is disabled.

[2022-06-01 12:58] atzlinux commented on #57
In my kernel, it's use the default config as your kernel.

# CONFIG_PM is not set

在 2022/6/1 20:09, Emil Renner Berthing 写道:

[2022-06-09 11:15] andreas-schwab opened #59 "make[2]: *** No rule to make target 'arch/riscv/lib/memcpy.S', needed by 'arch/riscv/purgatory/memcpy.o'. Stop."
When enabling CONFIG_KEXEC_FILE, which implies CONFIG_ARCH_HAS_KEXEC_PURGATORY, build fails in arch/riscv/purgatory.

[2022-06-17 21:02] esmil commented on #54
I just pushed a bunch of fixes for these kinds of errors. However for the i2svad module this just exposes another error deasserting a reset, but at least now it "fails cleanly" and doesn't crash like above.

[2022-06-17 21:20] esmil commented on #32
@andreas-schwab Your original stack trace looks like what should be fixed by my recent push. At least now building the starfive-drm driver as a module works for me.

[2022-06-18 11:55] andreas-schwab commented on #32
Confirmed.  Both starfive_drm and snd_soc_starfive_i2svad no longer crash.

[2022-06-18 11:55] #32 closed, assigned to nobody

[2022-06-18 11:56] andreas-schwab commented on #54
Confirmed.  Both starfive_drm and snd_soc_starfive_i2svad no longer crash.

[2022-06-18 11:56] #54 closed, assigned to nobody

[2022-06-19 08:57] esmil commented on #59
Hi Andreas, thanks for the report. I just pushed a fix to the visionfive branch that at least makes the purgatory build for me. I intend to merge it into the memcpy/memset patches when I rebase on rc3.

[2022-06-19 09:11] esmil commented on #50
I'm going to close this since it seemed to have been a toolchain issue. Feel free to reopen if you think otherwise.

[2022-06-19 09:11] #50 closed, assigned to nobody

[2022-06-19 11:29] andreas-schwab commented on #59
Thanks, works here too.

[2022-06-19 11:29] #59 closed, assigned to nobody

[2022-06-20 13:08] CharlieYu4994 opened #60 "It may cause problem during compiling"
https://github.com/starfive-tech/linux/blob/dbbb7f54df7d17b2a774ed04500d5a19d415cc22/arch/riscv/configs/starfive_jh7100_fedora_defconfig#L19
I can't finish compiling the kernel with this option which causes Error 127 during compiling

[2022-06-20 21:38] colemickens opened #61 "request: feature track for hdmi input"
As I understand it, the VisionFive board supports HDMI input.

I'm not sure if there's userspace support required for it as well, but can you add a spot on the README to track whether your kernel supports it? (Or is that covered under the DSP?)

Thanks!

[2022-06-24 09:26] esmil commented on #60
@tekkamanninja Do you have an opinion on this or maybe an update to the fedora defconfig?

[2022-06-30 15:03] #60 closed, assigned to nobody

[2022-07-04 19:29] andreas-schwab opened #63 "error: implicit declaration of function 'sifive_l2_flush64_range'"
CC      drivers/dma/dw-axi-dmac-starfive/starfive_dmaengine_memcpy.o
../drivers/dma/dw-axi-dmac-starfive/starfive_dmaengine_memcpy.c: In function 'dw_dma_async_do_memcpy':
../drivers/dma/dw-axi-dmac-starfive/starfive_dmaengine_memcpy.c:179:9: error: implicit declaration of function 'sifive_l2_flush64_range'; did you mean 'sifive_l2_flush_range'? [-Werror=implicit-function-declaration]
  179 |

[2022-07-04 20:39] esmil commented on #63
Sorry, I should probably have deleted this code a long time ago. Nothing actually uses any of the code in `drivers/dma/dw-axi-dmac-starfive/`. But now it should at least compile again..

[2022-07-06 10:54] andreas-schwab commented on #63
Fixed with 575362a88f9e.

[2022-07-06 10:54] #63 closed, assigned to nobody

[2022-07-06 16:59] andreas-schwab opened #64 "modpost errors"
ERROR: modpost: missing MODULE_LICENSE() in drivers/dma/dw-axi-dmac-starfive/starfive_dmaengine_memcpy.o
ERROR: modpost: "arch_setup_dma_ops" [drivers/dma/dw-axi-dmac-starfive/starfive_dmaengine_memcpy.ko] undefined!

[2022-07-07 09:16] esmil commented on #64
Ok, with this and https://lore.kernel.org/all/202207071751.cBaGYxUU-lkp@intel.com/ I think it's time to just delete this unused code. Let me know if you disagree.

[2022-07-11 09:43] esmil commented on #64
Ok, removed in the latest visionfive branch.

[2022-07-11 09:43] #64 closed, assigned to nobody

[2022-07-23 23:09] colemickens commented on #61
Sorry, I think I confused this with the RockPi 5B.

[2022-07-23 23:09] #61 closed, assigned to nobody

[2022-07-31 07:29] saeziae opened #65 "[cannot boot] kernel keeps outputing L2CACHE: DataError @ 0x00000004.820A2060"
Device: VisionFive

Firmware: Latest

Version: d02aa65a24f3cd0d7771349c8812b63482a2bce6

Config: Default `visionfive_defconfig`

Grub options:
[code]
Output:
[code]

[2022-07-31 08:55] esmil commented on #65
This happens when you're using the latest kernel with an older device tree. You'll need to copy the dtb file in `arch/riscv/boot/devicetree/starfive` and load that with your kernel.

[2022-07-31 09:24] saeziae commented on #65
It works. Thank you. I've got a question, do I need to copy the dtb everytime I compile another kernel?

[2022-07-31 12:50] esmil commented on #65
You only need to copy it when there are changes, but if you don't want to check for changes every time your build a new kernel, you can just copy it every time. Distributions package the device tree binaries with the compiled kernels.

[2022-07-31 12:50] #65 closed, assigned to nobody

[2022-09-17 09:27] mkszuba opened #67 "Missing Ethernet hardware timestamps on JH7100"
I have recently set up a Precision Time Protocol master server on my BeagleV Starlight. According to both kernel logs and ethtool, the NIC available on this board supports hardware timestamping for both RX and TX - but when I try to run ptp4l on it it immediately starts reporting "missing timestamp on transmitted sync" and declares itself as faulty. Is this a bug, or does this NIC not really suppo

[2022-09-17 09:30] mkszuba commented on #67
Incidentally, it would be nice if you could periodically rebase visionfive-5.15.y against vanilla once in a while - it *is* the LTS branch after all so it would be good to have it up to date for those who want a bit more stable RISC-V environment.